<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间可以用于区分相同配置的id名称； 还有另外一个作用：mybatis框架可以将dao接口和命名空间进行绑定 -->
<mapper namespace="fengke.main.domain.model.MemberRepository">

	<select id="selectById" resultType="fengke.main.domain.model.Member">
		select * from member where
		member_id=#{0}
	</select>
	<insert id="saveMember">
		insert into
		member(member_name,member_sex,member_email,member_password)
		values(#{0},#{1},#{2},#{3})
	</insert>
	<select id="selectLogin" resultType="fengke.main.domain.model.Member">
		select * from member where
		member_email=#{0} and member_password=#{1}
	</select>

</mapper>