<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间可以用于区分相同配置的id名称； 还有另外一个作用：mybatis框架可以将dao接口和命名空间进行绑定 -->
<mapper namespace="fengke.main.domain.model.BuyProductsTransactionRepository">
	<insert id="insertBuyProducts">
		insert into ordertemp(order_memberId,order_placeId) values(1,1)
	</insert>
	<select id="selectReleaseStrategy" resultType="fengke.main.domain.model.BuyProductsTransaction">
	 	select * from ordertemp where order_memberId=#{0} and order_placeId=#{1}
	</select>
</mapper>